{% extends "oauth2_provider/base.html" %}
{% load i18n %}

{% block oauth_page %}application_confirm_delete{% endblock %}

{% block react_context %}
<script id="oauth-context" type="application/json">
{
  "heading": "{% blocktrans with name=application.name %}Are you sure to delete the application {{ name }}?{% endblocktrans %}",
  "formAction": "{% url 'oauth2_provider:delete' application.pk %}",
  "csrfToken": "{{ csrf_token|escapejs }}",
  "labels": {
    "cancel": "{% trans 'Cancel' %}",
    "delete": "{% trans 'Delete' %}"
  },
  "backUrl": "{% url 'oauth2_provider:list' %}"
}
</script>
{% endblock %}
